<!-- ========================= FOOTER ========================= -->
<!-- <footer class="section-footer border-top" style="background-color: #252535;">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2021 Fejr Oudh </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">info@fejroudh.io</span>
				<span  class="px-2">+91 9656898508</span>
				<span  class="px-2">Hilite Business Park</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- <style>
	.section-footer border-top
	{
		background: #111112;
	}
</style> --> -->

<!-- Remove the container if you want to extend the Footer to full width. -->


	<footer class="bg-dark text-center text-white">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
	  <!-- Section: Social media -->
	  <section class="mb-4">
		<!-- Facebook -->
		<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		  ><i class="fab fa-facebook-f"></i
		></a>
  
		<!-- Twitter -->
		<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		  ><i class="fab fa-twitter"></i
		></a>
  
		<!-- Google -->
		<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		  ><i class="fab fa-google"></i
		></a>
  
		<!-- Instagram -->
		<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		  ><i class="fab fa-instagram"></i
		></a>
  
		<!-- Linkedin -->
		<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		  ><i class="fab fa-linkedin-in"></i
		></a>
  
		<!-- Github -->
		<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		  ><i class="fab fa-github"></i
		></a>
	  </section>
	  <!-- Section: Social media -->
	</div>
	<!-- Grid container -->
  
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2021 Copyright:
	  <a class="text-white" href="https://mdbootstrap.com/">Fejr Oudh.com</a>
	</div>
	<!-- Copyright -->
  </footer>
	
  
  <!-- End of .container -->
<!-- ========================= FOOTER END // ========================= -->