{% extends 'base.html' %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	{% include 'dash_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Logged in as:</strong>
			<span>{{user.first_name}}</span>
		</header>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">

					<div class="card">
						<div class="card-body" style="text-align: center;">
							<h5 class="card-title">Total Orders</h5>
							<h4>{{orders_count}}</h4>
							<a href="{% url 'my_orders' %}">View orders</a>
						</div>
					</div>
				</div>

				<div class="col-md-6">

					<div class="card" style="text-align: center;">
						<div class="card-body">
							<img src="https://image.shutterstock.com/image-vector/avatar-young-bearded-man-businessman-260nw-672355288.jpg" height="50" width="50" style="border-radius:50%;" alt="Avatar" class="avatar"> 
							<p class="mb-0">{{user.email}}</p>
							<p>{{user.phone_number}}</p>
						</div>
					</div>
				</div>



			</div>
		</div> <!-- card-body .// -->
		 <div class="table-responsive">
	
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>


{% endblock %}
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
